#registerContainer {
    width: 990px;
    margin: 90px auto 0 auto;
    border: 1px solid grey;
    border-radius: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
 
    
  }

  .registerText1 {
    text-align: left;
    padding-left: 20%;
  }
  
  .registerText2 {
    text-align: left;
    margin-top: 40px;
    padding-left: 20%;
  }
  
  /* <input type="password" id="signUpPassword">
  <button id="registerBtn">Register</button> */

  #signUpPassword {
    width: 450px;
    height: 70px;
    margin-left: 20%;
    margin-top: 20px;
    padding-left: 20px;
  }

  #signUpEmail {
    width: 450px;
    height: 70px;
    margin-left: 20%;
    margin-top: 40px;
    padding-left: 20px;
  }

  #emailMsg {
    width: 450px;
    margin-left: 20%;
    margin-top: 12px;
    padding-left: 10px;
    color: red;
  }

  #passwordMsg {
    width: 450px;
    margin-left: 20%;
    margin-top: 12px;
    padding-left: 10px;
    color: red;
  }

  #registerBtn {
    display: block;
    width: 450px;
    height: 70px;
    margin-left: 20%;
    margin-top: 20px;
    
  }

  #registerMsg {
    margin-top: 30px;
    margin-left: 20%;
  }
  